{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block static_content %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  {% load static %}
  <script type="text/javascript" src="{% static '/plaidapis/app.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  <button onclick="initPlaid()">Connect Plaid</button>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
